<<<<<<< Updated upstream
<%= javascript_pack_tag 'hello_vue' %>
=======
<%= render partial:"layouts/header" %>
<div class="main">
  <div class="top-image">
    <div class="top-container">
      <p class="top-title">プログラミング英語を学んで<br>
        プロのエンジニアを目指そう！
      </p>
      <p class="top-subtitle">
        プログラミング初学者のための英単語学習サイト
      </p>
    </div>
  </div>
</div>
>>>>>>> Stashed changes
