<%= render partial:"layouts/header" %>
<div class="top">
  <div class="top-image">
    <div class="top-container">
      <p class="top-title">プログラミング英語を学んで<br>
        プロのエンジニアを目指そう！
      </p>
      <p class="top-subtitle">
        プログラミング初学者のための英単語学習サイト
      </p>
      <div class="top-btn">
        <a href="" class="btn1">学習を始める</a>
        <a href="" class="btn2">単語帳を作る</a>
      </div>
    </div>

  </div>
</div>
