* {
  box-sizing: border-box;
  font-family: Noto Sans, Helvetica Neue, Arial,s ans-serif!important;
}

.top-page-header {
  width: 100vw;
  max-width: 101.1%;
  background-color: #000;
  height: 100%;
  font-size: 14px;
  color: #fff;
  border: none;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 0 32px;
  height: 72px;

}

.navbar-header {
  align-items: center;
  display: flex;
  height: 100%;
  /* width: 63%; */
  position: relative;
  flex-flow: row nowrap;
  margin: 0;
  /* padding: 0; */
  margin-left: 30px;
  /* font-size: 18px; */
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

/* .furima-icon {
  width: 10vw;
  margin-right: 10vw;
} */

.navbar-left {
  display: flex;
  min-width: 200px;
  align-items: center;
}

.logo {
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-right: 32px;
  float: left;
  font-size: 19px;
  height: 50px;
  padding: 14.5px 15px;
  line-height: 21px;
}

.header-link {
  font-size: 18px;
  padding: 0 2px 0 0;
  margin-right: 25px;
  letter-spacing: 1.8px;
  vertical-align: sub;
  border-bottom: 2px solid transparent;
  color: white;
  height: 50px;
  line-height: 21px;
}

.home {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.howtoplay {
  text-decoration: none;
} 

.startgame{
  text-decoration: none;
} 

.navbar-right {
  display: flex;
  min-width: 200px;
  align-items: center;
}


.user-nickname {
  font-weight: bold;
  text-decoration: none;

}


.logout {
  text-decoration: none;

}

.login {
  text-decoration: none;


}

.sign-up {
  text-decoration: none;
}